@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Quicksand:wght@300&display=swap");
* {
  padding: 0;
  margin: 0; }

.sectionhome .textohome p, .parrafoobjetos {
  background-color: #fdfdf6cd;
  color: #a1866c; }

body {
  width: 100vw;
  background-image: url("../img/fondo-palmeras.jpg");
  filter: opacity(100%);
  background-size: 100% 120%;
  background-repeat: no-repeat; }

.navbar {
  background-color: #fdfdf6cd !important; }
  .navbar .navbar-toggler {
    color: #d4bea97e;
    border-radius: 5px #fdfdf6cd; }
  .navbar .collapse {
    justify-content: end; }
    .navbar .collapse .navbar-nav {
      align-items: flex-end; }
      .navbar .collapse .navbar-nav .nav-link {
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        background-color: #d4bea97e;
        color: #fdfdf6cd;
        margin: 5px;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        width: 150px; }
        .navbar .collapse .navbar-nav .nav-link:hover {
          background-color: #fdfdf6cd;
          color: #a1866c; }
      .navbar .collapse .navbar-nav .dropdown-menu {
        background-color: #d4bea97e;
        border: 0px; }
        .navbar .collapse .navbar-nav .dropdown-menu .dropdown-item {
          color: #fdfdf6cd;
          font-family: "Quicksand", sans-serif;
          font-weight: bold; }
          .navbar .collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
            background-color: #fdfdf6cd;
            color: #a1866c; }

footer {
  background-image: linear-gradient(to top right, #fdfdf6cd, #d4bea97e, #fdfdf6cd);
  padding: 35px;
  height: 25%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .redes {
    display: flex;
    flex-direction: row; }
    footer .redes a {
      padding: 10px;
      font-size: 32px;
      color: #a1866c;
      text-align: center;
      text-decoration: none; }

.sectionhome {
  display: flex; }
  .sectionhome .imghome img {
    width: 400px;
    margin: 10px 100px;
    padding: 15px;
    background-color: #d4bea97e;
    border-radius: 3px; }
  .sectionhome .textohome p {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    width: 600px;
    margin: 50px 0px 20px 30px;
    padding: 30px;
    padding-bottom: 80px;
    border-radius: 3px; }
  .sectionhome .textohome .buttonconocenos {
    margin-top: -80px; }
    .sectionhome .textohome .buttonconocenos a {
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      margin-left: 400px;
      text-decoration: none;
      background-color: #fdfdf6cd;
      color: #a1866c;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      border-radius: 12px;
      border: 2px #a1866c; }
      .sectionhome .textohome .buttonconocenos a:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

.basehome {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .basehome img {
    width: 280px;
    height: auto;
    padding: 10px;
    margin: 50px 30px 100px 50px;
    background-color: #d4bea97e; }
    .basehome img:hover {
      transform: scale(1.2);
      transition: 1.2s;
      cursor: pointer; }
  .basehome .buttontienda {
    display: inline-flex; }
    .basehome .buttontienda a {
      text-align: center;
      margin: 500px 30px 400px 20px;
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      display: inline-block;
      margin: 5px 0px 0px 10px;
      background-color: #fdfdf6cd;
      color: #a1866c;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      border-radius: 12px;
      border-color: 2px #a1866c; }
      .basehome .buttontienda a:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

.esencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px; }
  .esencia p {
    background-color: #fdfdf6cd;
    color: #a1866c;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    width: 500px;
    padding: 30px;
    padding-bottom: 80px;
    margin: 50px; }
  .esencia img {
    width: 450px;
    margin: 50px;
    padding: 10px;
    background-color: #d4bea97e; }

main img {
  width: 100px;
  margin-left: 450px;
  margin-top: -330px; }

.parrafoobjetos {
  display: block;
  text-align: justify;
  padding: 22px;
  margin: 40px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px; }

.imgobjetos {
  display: flex;
  align-items: center;
  margin: 20px; }
  .imgobjetos .caja {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .imgobjetos .caja img {
      background-color: #d4bea97e;
      width: 210px;
      height: auto;
      padding: 6px;
      margin: 40px 40px 10px 40px; }
    .imgobjetos .caja .textobjetos {
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      background-color: #fdfdf6cd;
      color: #a1866c;
      padding: 4px; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 10px 60px; }
  .container .card {
    padding: 5px;
    width: 250px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 .5px .5px;
    overflow-y: hidden;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fdfdf6cd;
    align-items: center; }
    .container .card img {
      padding: 2px;
      width: 200px;
      height: 250px; }
    .container .card p {
      font-family: "Quicksand", sans-serif;
      background-color: #fdfdf6cd;
      font-size: 16px;
      padding: 5px 2px 5px 2px;
      margin: 2px;
      color: #a1866c;
      border-radius: 3px; }
    .container .card h4 {
      font-family: "Quicksand", sans-serif;
      color: #a1866c;
      font-size: 18px;
      margin: 8px 0 8px;
      padding: 2px;
      background-color: #fdfdf6cd;
      border-radius: 3px; }
    .container .card a {
      text-decoration: none;
      color: #fdfdf6cd;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      background-color: #a1866c;
      border-radius: 5px;
      padding: 4px;
      margin: 2px; }
      .container .card a:hover {
        box-shadow: 0 3px 4px 0;
        transform: scale(1.1);
        background-color: #fdfdf6cd;
        color: #a1866c;
        font-weight: bold;
        transition: 0.5s; }

.form {
  width: 100%; }
  .form form {
    display: inline-block;
    padding: 30px;
    margin-left: 350px;
    margin-bottom: 30px;
    background-color: #fdfdf6cd;
    color: #d4bea97e;
    border: #d4bea97e solid 2px;
    border-radius: 3px;
    font-family: "Quicksand", sans-serif;
    align-items: center; }
    .form form input {
      margin: 5px;
      border: #d4bea97e solid 2px;
      border-radius: 5px; }
    .form form textarea {
      margin: 5px;
      border: #d4bea97e solid 2px;
      border-radius: 5px; }
    .form form button {
      background-color: #fdfdf6cd;
      color: #a1866c;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      border-radius: 12px;
      border-color: #d4bea97e;
      margin-left: 180px; }
      .form form button:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

.titulo {
  display: block; }
  .titulo h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    background-color: #fdfdf6cd;
    color: #d4bea97e;
    text-align: left;
    padding: 20px;
    margin: 15px; }
