.form {
    width: 100%;

    form {
        display: inline-block;
        padding: 30px;
        margin-left: 350px;
        margin-bottom: 30px;
        background-color: $basetexto;
        color: $marronmedio;
        border: $marronmedio solid 2px;
        border-radius: 3px;
        font-family: $quicksand;
        align-items: center;


        input {
            margin: 5px;
            border: solid 2px $marronmedio;
            border-radius: 5px;

            &:focus{
                outline-color: $marronfuerte;
            }
                }
                label{
                    color: $marronfuerte;
                }
       

        textarea {
            margin: 5px;
            border: $marronmedio solid 2px;
            border-radius: 5px;

            &:focus{
                outline-color: $marronfuerte;
            }
        }

        button {
            @include button($basetexto, $marronfuerte);
            font-weight: 600;
            border-radius: 12px;
            border-color: $marronmedio;
            margin-left: 180px;
            &:hover{
                background-color: $marronfuerte;
                color: $basetexto;
                font-weight: bold;
            }
        }
       
    }
}

@media (max-width: 520px){
    .form {
    
        form {
width: 75%;
margin-left: 65px;
            padding: 5px;

    
    
            input {
                
                margin: 2px;
           
        }
        textarea {
           width: 85%;
             margin: 25px;
 
         
         }
 
         button {
             margin-left: 135px;

         }
    
    
    
    
    
    }
}
}