footer {
    background-image: linear-gradient(to top right, #fdfdf6cd, #d4bea97e, #fdfdf6cd);
    padding: 35px;
    height: 25%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .redes {
        display: flex;
        flex-direction: row;

        a {
            padding: 10px;
            font-size: 32px;
            color: $marronfuerte;
            text-align: center;
            text-decoration: none;
        }
    }
}