.sectionhome {

    display: flex;


    .imghome {

        img {
            width: 400px;
            margin: 10px 100px;
            padding: 15px;
            background-color: #a1866c62;
            border-radius: 3px;

        }
    }

    .textohome {


        p {
            background-color: #f6f6e9c7;
            color: #a1866c;
            font-family: $quicksand;
            font-size: 25px;
            width: 600px;
            margin: 50px 0px 20px 30px;
            padding: 30px;
            padding-bottom: 80px;
            border-radius: 3px;


        }

        .buttonconocenos {
            margin-top: -80px;
            a{

font-family: $quicksand;
            font-size: 18px;
            margin-left: 400px;
            
            text-decoration: none;
            background-color: #f5f5dc51;
            color: #c2a48afe;
            font-weight: 600;
            padding: 5px 25px 5px 25px;
            border-radius: 12px;
            border: 2px #8e7d6efe;

            &:hover {
                background-color: #a1866c;
                color: #f5f5e8d8;
                font-weight: bold;
            }
        }
        }


    }

}

.basehome {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 280px;
        height: auto;
        padding: 10px;
        margin: 50px 30px 100px 50px;
        background-color: #a1866c62;

        &:hover {
            transform: scale(1.2);
            transition: 1.2s;
            cursor: pointer;
        }
    }

    .buttontienda {
        display: inline-flex;


        a {
            text-align: center;
            margin: 500px 30px 400px 20px;
            text-decoration: none;
            font-family: $quicksand;
            font-size: 18px;
            display: inline-block;
            margin: 5px 0px 0px 10px;
            background-color: #f5f5dc51;
            color: #c2a48afe;
            font-weight: 600;
            padding: 5px 25px 5px 25px;
            border-radius: 12px;
            border-color: 2px #8e7d6efe;

            &:hover {
                background-color: #a1866c;
                color: #f5f5e8d8;
                font-weight: bold;
            }
        }
    }
}