.parrafoobjetos {
    display: block;
    text-align: justify;
    padding: 22px;
    margin: 40px;
    font-family: $quicksand;
    font-size: 15px;
    background-color: rgba(246, 246, 233, 0.779);
    color: #a1866c;
}

.imgobjetos {
    display: flex;
    align-items: center;
    margin: 20px;

    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        img {
            background-color: #a1866c62;
            width: 210px;
            height: auto;
            padding: 5px;
            margin: 40px 40px 10px 40px;
        }

        .textobjetos {

            font-family: 'Quicksand', sans-serif;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            background-color: rgba(245, 245, 220, 0.576);
            color: #a1866cd0;
            padding: 3px;
        }
    }
}