.parrafoobjetos {
    display: block;
    text-align: justify;
    padding: 22px;
    margin: 40px;
    font-family: $quicksand;
    font-size: 15px;
    @extend %parrafos;
}

.imgobjetos {
    display: flex;
    align-items: center;
    margin: 20px;

    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        img {
            background-color: $marronmedio;
            width: 210px;
            height: auto;
            padding: 6px;
            margin: 40px 40px 10px 40px;
        }

        .textobjetos {

            font-family: 'Quicksand', sans-serif;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            background-color: $basetexto;
            color: $marronfuerte;
            padding: 4px;
        }
    }
}