.titulo {
    display: block;

h1{
    font-family: $quicksand;
    font-size: 2rem;
    background-color: $basetexto;
    color: $marronfuerte;
    text-align: left;
    padding: 20px;
    margin: 15px;

}
}

@media (max-width: 480px){
    .titulo {
    
    h1{
        font-size: 1rem;
        padding: 10px;
        margin: 10px;
    
    }
    }
}

