.titulo {
    display: block;

h1{
    font-family: $quicksand;
    font-size: 2rem;
    background-color: $basetexto;
    color: $marronmedio;
    text-align: left;
    padding: 20px;
    margin: 15px;

}
}