.titulo {
    display: block;

h2 {
    font-family: $quicksand;
    font-size: 2rem;
    background-color: #f5f5dc71;
    color: #d4bea9de;
    text-align: left;
    padding: 20px;
    margin: 15px;

}
}